.home-wrapper {
  .hero-wrapper {
    width: 100%;
    height: 110vh;
    background-image: url('../../assets/hero_background.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6faff;
    flex-direction: column;
    h1 {
      font-family: Copse;
      font-style: normal;
      font-weight: normal;
      font-size: calc(56px + 1vw);
      line-height: 141px;
    }
    h3 {
      font-family: Copse;
      font-style: normal;
      font-weight: normal;
      line-height: 76px;
      color: #f6faff;
      span {
        color: #fb5517;
      }
    }
    p {
      width: 60%;
      font-family: Work Sans;
      font-style: normal;
      font-weight: normal;
      font-size: calc(16px + 1vw);
      line-height: 35px;
      text-align: center;
    }
    svg {
      margin-bottom: 10vh;
    }
  }
  .project-detail-wrapper {
    width: calc(80vw - 10vw);
    margin: auto;
    position: relative;
    top: -5vh;
    display: flex;
    background: #ffffff;
    box-shadow: 9.91933px 12.8951px 247.983px rgba(0, 0, 0, 0.1);
    padding: 5vw;
    video {
      width: 50%;
    }
    .project-detail-container {
      margin-left: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-family: Copse;
        font-style: normal;
        font-weight: normal;
        color: #fb5517;
        font-size: 28px;
        margin-bottom: 5px;
      }
      span {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        color: #011633;
        font-size: 20px;
      }
      p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #000000;
      }
    }
  }
  .event-wrapper {
    width: 100%;
    background: #011633;
    padding: 20px 0;
    .slick-slider {
      .slick-prev {
        left: 40px;
        z-index: 10;
      }
      .slick-next {
        right: 40px;
      }
    }
    .event-container {
      width: calc(100% - 40px - 10vw) !important;
      background-color: white;
      display: flex !important;
      margin: auto;
      padding: 5vw;
      justify-content: space-between;
      align-items: center;
      > div {
        width: 50%;
      }
      h2 {
        font-family: Copse;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        color: #fb5517;
      }
      span {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        color: #011633;
      }
      p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        color: #000000;
      }
    }
    img {
      width: 300px;
      height: 170px;
      object-fit: cover;
    }
  }
  .about-wrapper {
    width: 80vw;
    margin: 10vh auto;
    .card-wrapper {
      display: flex;
      justify-content: space-evenly;
      margin-top: 5vh;
      .card {
        background: #011633;
        box-shadow: 9.91933px 10.9113px 39.6773px rgba(0, 0, 0, 0.15);
        border-radius: 4.95967px;
        width: 20vw;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
          margin: 2.5vh auto;
        }
      }
      span {
        text-align: center;
        color: #ffffff;
        margin-bottom: 2.5vh;
      }
    }
    h1 {
      font-family: Copse;
      font-style: normal;
      font-weight: normal;

      color: #fb5517;
    }
    p {
      font-family: Work Sans;
      font-style: normal;
      font-weight: normal;

      color: #000000;
      span {
        color: #fb5517;
      }
    }
  }
  .goal-wrapper {
    width: 80vw;
    margin: auto;
    h1 {
      font-family: Copse;
      font-style: normal;
      font-weight: normal;

      color: #fb5517;
    }
    .goal-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .goal-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 2vw;
        svg {
          width: 100px;
          height: 100px;
          margin-bottom: 20px;
        }
        span {
          text-align: center;
        }
      }
    }
  }
  .team-wrapper {
    width: 80vw;
    margin: 10vh auto;
    h1 {
      font-family: Copse;
      font-style: normal;
      font-weight: normal;

      color: #fb5517;
    }
    .student-card {
      width: 15vw !important;
    }
    .intern-card {
      width: 100% !important;
    }
    .team-card {
      background: #f3f5f9;
      border: 0.991933px solid #d7d7d7;
      box-sizing: border-box;
      box-shadow: 3.96773px 3.96773px 39.6773px rgba(0, 0, 0, 0.1);
      border-radius: 4.95967px;
      width: 25vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      height: 100%;
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
      h3 {
        font-family: Copse;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        margin: 1vw 0;
      }
      span {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        text-align: center;

        color: #000000;
      }
    }
    .team-container {
      h2 {
        margin: 5vh auto;
        width: fit-content;
        font-family: Copse;
        font-style: normal;
        font-weight: normal;

        color: #011633;
      }
      .tech-team-conatainer {
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        grid-gap: 10px;
      }
      .student-team-conatainer {
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
        grid-gap: 10px;
      }
    }
    .associate-wrapper {
      display: grid;
      width: fit-content;
      grid-template-columns: repeat(2, 1fr);
      margin: auto;
      grid-gap: 10px;
      .associate-card {
        background: #f3f5f9;
        border: 0.991933px solid #d7d7d7;
        box-sizing: border-box;
        box-shadow: 3.96773px 3.96773px 39.6773px rgba(0, 0, 0, 0.1);
        border-radius: 4.95967px;
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        img {
          width: 100px;
          width: 100px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .donation-wrapper {
    width: calc(100% - 20vw);
    padding: 40px 10vw;
    margin: auto;
    background: #011633;
    box-shadow: 9.91933px 12.8951px 247.983px rgba(0, 0, 0, 0.1);
    h2 {
      font-family: Copse;
      font-style: normal;
      font-weight: normal;
      color: #fb5517;
      font-size: xx-large;
      margin-bottom: 20px;
    }
    .donation-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 2vw;
      video {
        width: 40%;
      }
      button {
        margin: 0;
        margin-top: 5vh;
        margin-bottom: 2vh;
      }
      span {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        color: #ffffff;
      }
      h3 {
        font-family: Copse;
        font-style: normal;
        font-weight: normal;
        color: #fb5517;
      }
      ul {
        padding-left: 10px;
        list-style: none;
        li {
          font-family: Work Sans;
          font-style: normal;
          font-weight: normal;
          color: #ffffff;
          &::before {
            content: '\2022';
            color: #fb5517;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }
      h6 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;

        color: #ffffff;
      }
    }
  }
  .feature-wrapper {
    width: 80vw;
    margin: 10vh auto;
    h1 {
      font-family: Copse;
      font-style: normal;
      font-weight: bold;
      color: #fb5517;
      margin-bottom: 20px;
    }
    a {
      font-family: Copse;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      text-decoration-line: underline;
      margin-top: 20px;
      display: block;
      color: #fb5517;
    }
    .feature-container {
      display: flex;
      justify-content: space-between;
      span {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        display: block;
        color: #fb5517;
        margin-top: 10px;
      }
      .left-col {
        width: 50%;
        margin-right: 5vw;
        img {
          width: 100%;
          object-fit: cover;
          filter: drop-shadow(9px 9px 50px rgba(0, 0, 0, 0.25));
        }
      }
      .right-col {
        width: 50%;
        .news-card {
          display: flex;
          margin-bottom: 20px;
          h4 {
            font-family: Work Sans;
            font-style: normal;
            font-weight: normal;

            color: #fb5517;
            margin-bottom: 10px;
          }
          span {
            font-family: Work Sans;
            font-style: normal;
            font-weight: normal;
            color: #040d19;
          }
          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-right: 20px;
            filter: drop-shadow(9px 9px 50px rgba(0, 0, 0, 0.25));
          }
        }
      }
    }
  }
  .related-projects-wrapper {
    background: #011633;
    padding: 5vh 0;
    h1 {
      font-family: Copse;
      font-style: normal;
      font-weight: bold;
      color: #fb5517;
      margin-bottom: 20px;
      margin-left: 10vw;
    }
    .slick-slider {
      .slick-prev {
        left: 40px;
        z-index: 10;
        filter: invert(1);
      }
      .slick-next {
        right: 40px;
        filter: invert(1);
      }
    }

    .relate-container {
      width: 80vw !important;
      display: flex !important;
      margin: auto;

      img {
        width: 40%;
        margin-right: 5vw;
      }
      button {
        font-size: 16px;
        margin: 0;
      }
      h2 {
        font-family: Copse;
        font-style: normal;
        font-weight: normal;
        color: #fb5517;
      }
      h3 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        color: #ffffff;
      }
      p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;

        color: #ffffff;
      }
    }
  }
  .publishers-wrapper {
    width: 80vw;
    margin: 10vh auto;

    h1 {
      font-family: Copse;
      font-style: normal;
      font-weight: bold;
      color: #fb5517;
    }
    .pub-card {
      width: calc(25% - 40px) !important;
      margin: 20px !important;
      padding: 20px;
      background: #f3f5f9;
      border: 0.991933px solid #d2d2d2;
      box-sizing: border-box;
      box-shadow: 3.96773px 3.96773px 29.758px rgba(0, 0, 0, 0.1);
      h3 {
        font-family: Copse;
        font-style: normal;
        font-weight: normal;
        color: #fb5517;
      }
      p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        color: #011633;
      }
    }
  }
  .review-wrapper {
    padding: 5vh 10vw;
    background: #011633;
    .slick-slider {
      .slick-prev {
        z-index: 10;
        filter: invert(1);
      }
      .slick-next {
        filter: invert(1);
      }
    }
    #quote {
      top: -50px;
      left: -50px;
      position: absolute;
      z-index: 10;
    }
    h1 {
      font-family: Copse;
      font-style: normal;
      font-weight: bold;
      color: #fb5517;
      margin-bottom: 5vh;
    }
    .quote-card {
      position: relative;
      background: #ffffff;
      border: 5px solid #fb5517;
      box-sizing: border-box;
      box-shadow: 24px 25px 40px rgba(0, 0, 0, 0.25);
      display: flex !important;
      z-index: 0;
      width: 60vw !important;
      margin: auto !important;

      margin-top: 50px !important;
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 2vw;
      }
      .quote-details {
        display: flex;
        width: 65%;
        margin: auto;
        padding: 5vh 20px;
        h2 {
          font-family: Copse;
          font-style: normal;
          font-weight: normal;
          color: #fb5517;
        }
        h3 {
          font-family: Work Sans;
          font-style: normal;
          font-weight: 500;
          color: #000000;
        }
        p {
          font-family: Work Sans;
          font-style: normal;
          font-weight: normal;
          color: #000000;
        }
      }
    }
  }
  .contact-wrapper {
    display: flex;
    width: 80vw;
    margin: 10vh auto;
    height: fit-content;
    .contact-side {
      padding: 20px;
      margin: auto;
      background: #011633;
      box-shadow: 9.91933px 9.91933px 29.758px rgba(0, 0, 0, 0.1);
      font-family: Work Sans;
      font-style: normal;
      font-weight: normal;
      width: 30%;
      color: #ffffff;
      h3 {
        font-family: Copse;
        font-style: normal;
        font-weight: normal;
        color: #fb5517;
        font-size: 20px;
      }
      div {
        margin: 10px auto;
      }
    }
    .contact-container {
      display: flex;
      flex-direction: column;
      h1 {
        font-family: Copse;
        font-style: normal;
        font-weight: normal;
        color: #fb5517;
        margin-bottom: 5vh;
      }
      form {
        width: 40vw;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background: #fefefe;
        border: 2.9758px solid #fb5517;
        box-sizing: border-box;
        box-shadow: 9.91933px 19.8387px 49.5967px rgba(0, 0, 0, 0.1);
        h2 {
          font-family: Copse;
          font-style: normal;
          font-weight: normal;
          color: #6a6a6a;
          margin-bottom: 10px;
        }
        input {
          margin: 5px 0;
          font-family: Work Sans;
          font-style: normal;
          font-weight: normal;
          color: #000000;
          font-size: 16px;
          padding: 5px;
        }
        select {
          margin: 5px 0;
          font-family: Work Sans;
          font-style: normal;
          font-weight: normal;
          color: #000000;
          font-size: 16px;
          padding: 5px;
        }
        textarea {
          margin: 5px 0 !important;
          width: 99% !important;
          resize: none;
          font-family: Work Sans;
          font-style: normal;
          font-weight: normal;
          color: #000000;
          font-size: 16px;
          padding: 5px;
        }
        button {
          background: #fb5517;
          box-shadow: 2.27483px 4.54967px 0px rgba(86, 109, 73, 0.73);
          border-radius: 9.09934px;
          font-family: Work Sans;
          font-style: normal;
          font-weight: bold;
          text-transform: uppercase;
          border: 0;
          padding: 15px 0;
          color: #ffffff;
        }
      }
    }
  }
  .newsletter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #011633;
    padding: 10vh 0;
    h1 {
      font-family: Copse;
      font-style: normal;
      font-weight: normal;
      color: #fb5517;
    }
    p {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      font-size: 20px;
      color: #ffffff;
    }
    .input-wrapper {
      display: flex;
      width: 60vw;
      input {
        width: 100%;
        background: #ffffff;
        border: 2px solid #fb5517;
        box-sizing: border-box;
        border-radius: 14px;
        margin-right: 10px;
        font-size: 20px;
      }
      button {
        background: #fb5517;
        border: 0;
        border-radius: 15px;
        font-family: Copse;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: #ffffff;
        padding: 10px;
      }
    }
  }
  footer {
    padding: 5vw 5vw;
    padding-bottom: 0;
    background: #011633;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      margin-right: 5vw;
      a {
        margin: 5px 0;
      }
    }
    svg {
      margin-right: 10px;
    }
    .left-col {
      display: flex;
    }
    h3 {
      margin-bottom: 5px;
    }
  }
  section {
    padding: 5vw 5vw;
    background: #011633;
    color: #ffffff;
    h2 {
      margin-bottom: 10px;
    }
    div {
      display: flex;
      justify-content: space-between;
    }
  }
}

.donate {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 47px;
  padding: 4px 20px;
  color: #e7f1ff;
  border: 0;
  outline: none;
  background: #fb5517;
  border-radius: 32.5494px;
  cursor: pointer;
  margin: 0 2vw;
}
.subscribe {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 47px;
  padding: 4px 20px;
  color: #e7f1ff;
  border: 0;
  outline: none;
  background: 0;
  border-radius: 32.5494px;
  border: 2.53631px solid #fb5517;
  color: #e7f1ff;
  cursor: pointer;
  margin: 0 2vw;
}
